@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&display=swap');
@import url(./font.css);
@import url(./text.css);

body {
    background-color: rgb(24, 24, 24);
}

.main-div {
    background-color: rgb(25, 25, 25);
    padding: 1em 1em 1em;
    margin: 2em auto;
}

.sub-div {
    background-color: rgb(27, 27, 27);
    padding: 1em 2em 1em;
    margin: 1em auto;
}

.centered-div {
    max-width: 50em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}