.center-text {
    text-align: center;
}

body {
    color: whitesmoke;
}

.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:link {
    color: lightblue;
    text-decoration: none;
}

a:visited {
    color: lightskyblue;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    text-decoration: none;
}

li::marker {
    color: whitesmoke;
}