a {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-visited-color);
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

#places {
    text-align: left;
}

#places ul {
    display: inline-block;
    text-align: left;
}


nav {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

nav a {
    margin: 1em;
}
