h1,
h2 {
    margin: 0.5em 0;
}

p,
ul,
li {
    margin: 0.5em 0;
}

.center-text {
    text-align: center;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li::marker {
    color: whitesmoke;
}

nav {
    margin-bottom: 1.5em;
}

nav a {
    text-decoration: none;
    padding: 0 15px;
    display: inline-block;
}

hr {
    border: 0;
    height: 1px;
    background: whitesmoke;
    opacity: 0.5;
}

.right-text {
    text-align: right;
}

.small-text {
    font-size: 0.75em;
}

.blog-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300ch;
}

a {
    transition: color 0.3s ease-in-out;

    color: whitesmoke;
    text-decoration: none;
}

.link:link,
.link:visited {
    color: lightblue;
    transition: color 0.3s ease;
}

.link:hover {
    color: whitesmoke;
    text-decoration: underline;
}

.radon-font {
    font-family: "monaspace-radon";
}

.thin-font {
    font-family: "monaspace-nano-thin";
}
