@import "text.css";
@import "colors.css";
@import "toggletheme.css";



body {
    background-color: var(--body-bg);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-variant-emoji: emoji ;
}


#main {
    box-shadow: var(--main-shadow-color) 0 3px 8px;
    border-radius: 1em;
    background-color: var(--main-bg);
    text-align: center;
    max-width: 50em;
    margin: 2em auto;
    padding: 2em;
}

#author-text {
    margin: 10em auto;
    text-align: center;
}

#link, a {
    &:link {
        color: var(--link-color);
        text-decoration: none;
    }

    &:visited {
        color: var(--link-visited-color);
    }

    &:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
    }

    &:focus {
        outline: 2px solid var(--link-hover-color);
        outline-offset: 2px;
    }
}