@import "text.css";
@import "colors.css";
@import "toggletheme.css";

a {
    &:link {
        color: var(--link-color);
        text-decoration: none;
    }

    &:visited {
        color: var(--link-visited-color);
    }

    &:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
    }

    &:focus {
        outline: 2px solid var(--link-hover-color);
        outline-offset: 2px;
    }
}

body {
    display: grid;
    background-color: var(--body-bg);
    color: var(--text-color);
    min-height: 100vh;
    margin: 0;
    padding: 1em;
    overflow: hidden;
}

#main {
    box-shadow: var(--main-shadow-color) 0 3px 8px;
    border-radius: 1em;
    background-color: var(--main-bg);
    padding: 1.5em;
    text-align: center;
    place-self: center;
    width: fit-content;
    max-width: 90%;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

#author-text {
    margin: 1em;
    place-self: center;
}