:root {
    color-scheme: light dark;

    --body-bg: #F8F4ED;
    --text-color: #4A4A4A;
    --main-bg: #FFFFFF;
    --link-color: #0077B6;
    --link-visited-color: #8C479B;
    --link-hover-color: #005691;
    --button-text-color: #FFFFFF;
    --button-bg: var(--main-bg);
    --main-shadow-color: rgba(0, 0, 0, 0.15);
    --button-shadow-color: rgba(0, 0, 0, 0.2);
}

:root.dark {
    --body-bg: #1A1A1A;
    --text-color: #E0E0E0;
    --main-bg: #2C2C2C;
    --link-color: #FFD700;
    --link-visited-color: #ADD8E6;
    --link-hover-color: #FFEA00;
    --button-text-color: #1A1A1A;
    --button-bg: var(--main-bg);
    --main-shadow-color: rgba(255, 255, 255, 0.08);
    --button-shadow-color: #FFFFFF;
}


a {
    text-decoration: none;
    margin: 1em;
    color: var(--link-color);
    font-size: 100%;

    &:hover {
        color: var(--link-hover-color);
        transform: scale(1.2);
    }

    &:visited {
        color: var(--link-visited-color);
    }
}
