@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&display=swap");
@import url(font.css);
@import url(text.css);

.blog-block:hover {
    box-shadow: 0 4px 8px rgb(255, 255, 255);
}

body {
    background-color: rgb(24, 24, 24);
    color: whitesmoke;
    font-family: "monaspace-nano";
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

#main-div {
    background-color: rgb(25, 25, 25);
}

.sub-div {
    padding: 2em;
    margin: 1em 0;
    background-color: rgb(30, 30, 30);
    border-radius: 8px;
}

header#title {
    margin-bottom: 1.5em;
    font: "monascpace-radon";
}

.centered-div {
    max-width: 50em;
    margin: 2em auto;
    padding: 2em;
    background-color: rgb(27, 27, 27);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}
