:root {
    color-scheme: light dark;
    --body-bg: #F4EAD5;
    --text-color: #5A493A;
    --main-bg: #FAF0E6;
    --link-color: #008B8B;
    --link-visited-color: #CD5C5C;
    --link-hover-color: #8B4513;
    --button-text-color: var(--main-bg);
    --main-shadow-color: rgba(0, 0, 0, 0.24);
    --button-shadow-color: rgba(0, 0, 0, 0.1);
    --dark-body-bg: #212529;
    --dark-text-color: #D3D3C8;
    --dark-main-bg: #343a40;
    --dark-link-color: #DAA520;
    --dark-link-visited-color: #B0C4DE;
    --dark-link-hover-color: #FFD700;
    --dark-button-text-color: var(--dark-body-bg);
    --dark-main-shadow-color: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--body-bg);
    color: var(--text-color);
    margin: 0;
    padding: 1em;
    font-size: clamp(0.875rem, 0.75rem + 0.5vw, 1.125rem);
    line-height: 1.6;
}


main {
    box-shadow: var(--main-shadow-color) 0 3px 8px;
    border-radius: 1em;
    background-color: var(--main-bg);
    text-align: center;
    max-width: 50em;
    min-height: 15em;
    margin: auto;
    padding: 2em;
}

article {
    padding: 0 2em;
}


