@font-face {
    font-family: "monaspace-nano";
    src: url("../font/MonaspaceNeon-Regular.woff2");
    font-display: swap;
}

@font-face {
    font-family: "monaspace-radon";
    src: url("../font/MonaspaceRadon-Regular.woff2");
    font-display: swap;
}

.radon-font {
    font-family: "monaspace-radon", cursive;
}

.nano-font {
    font-family: "monaspace-nano-thin", sans-serif;
}


