@import "colors.css";

#mode-toggle {
    inset-block-start: 1em;
    inset-inline-start: 1em;
    inline-size: 2.5em;
    block-size: 2.5em;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: var(--main-bg);
    color: var(--text-color);
    box-shadow: var(--button-shadow-color) 0 0 10px 0;

    border: none;
    cursor: pointer;
    font-size: 1.4em;
    outline-offset: 0;
    transition: background-color 0.2s ease-in,
    transform 0.1s ease-in;

    &:hover {
        background-color: var(--link-visited-color);
        box-shadow: var(--button-shadow-color) 0 4px 8px;
        transform: scale(1.05);
    }

    &:active {
        background-color: var(--link-hover-color);
        box-shadow: var(--button-shadow-color) 0 1px 3px;
        transform: scale(0.95);
    }

    &:focus-visible {
        outline: 2px solid var(--link-hover-color);
        outline-offset: 2px;
    }
}

:is(button:not(#mode-toggle), input[type="submit"]) {
    display: inline-block;
    background-color: var(--link-color);
    color: var(--button-text-color);
    padding-block: 0.75em;
    padding-inline: 1.5em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1rem;
    font-family: inherit;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    box-shadow: var(--button-shadow-color) 0 2px 5px;
    transition: background-color 0.2s ease-in,
    transform 0.1s ease-in;

    &:hover {
        background-color: var(--link-hover-color);
        box-shadow: var(--button-shadow-color) 0 4px 10px;
    }

    &:active {
        background-color: var(--link-hover-color);
        box-shadow: var(--button-shadow-color) 0 1px 3px;
        transform: translateY(1px);
    }

    &:focus-visible {
        outline: 2px solid var(--link-hover-color);
        outline-offset: 3px;
    }
}
