---
import Main from "./Main.astro";
import Footer from "./Footer.astro";
interface Props {
    title: string;
}
const { title } = Astro.props;
---

<body>
    <Main title={title}>
        <slot />
    </Main>
    <Footer />
</body>

<style lang="scss">
    body {
        margin: 0;
        padding: 1em;
        font-size: clamp(0.875rem, 0.75rem + 0.5vw, 1.125rem);
        line-height: 1.6;

        background-color: var(--body-bg);
        color: var(--text-color);
    }
</style>
