---
const { href = "", newPage } = Astro.props;
---

{
    newPage === "true" ? (
        <a rel="noopener noreferrer" target="_blank" href={href}>
            <slot />
        </a>
    ) : (
        <a href={href}>
            <slot />
        </a>
    )
}

<style>
    a {
        text-decoration: none;
        margin: 1em;
        color: var(--link-color);
        font-size: 100%;

        &:hover {
            color: var(--link-hover-color);
            transform: scale(1.2);
        }

        &:visited {
            color: var(--link-visited-color);
        }
    }
</style>
