---
import Link from "./Link.astro";
---
<nav>
    <Link class="neon-font" href="/#">Main</Link>
    <Link class="neon-font" href="/aboutme">About me</Link>
    <Link class="neon-font" href="/places">Places</Link>
    <Link class="neon-font" href="/distributism">Distributism</Link>
    <Link class="neon-font" href="/books">Books I read</Link>
    <Link class="neon-font" href="/projects">Projects</Link>
</nav>

