---
import Head from "../component/Head.astro";
import "../style/color.scss";
import "../style/font.scss";
import { Font } from "astro:assets";
import Body from "../component/Body.astro";
interface Props {
    title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Font cssVariable="--font-neon" />
    <Font cssVariable="--font-radon" />

    <Head title={title} />
    <Body title={title}>
        <slot />
    </Body>
</html>
